.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

/* .back {
  box-sizing: border-box;
  width: ;
} */

.backboard {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  background-color: rgb(190 190 190);
  border: solid 10px;
  border-color: rgb(179 179 179) rgb(117 117 117) rgb(117 117 117) rgb(179 179 179);
}

.information {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 70px;
  background-color: rgb(190 190 190);
  border: solid 5px;
  border-color: rgb(117 117 117) rgb(179 179 179) rgb(179 179 179) rgb(117 117 117);
}

.bombcount {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin-left: auto;
  background-color: black;
  border: solid 3px;
  border-color: rgb(117 117 117) rgb(179 179 179) rgb(179 179 179) rgb(117 117 117);
}

.faith {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(190 190 190);
  border: solid 5px;
  border-color: rgb(179 179 179) rgb(117 117 117) rgb(117 117 117) rgb(179 179 179);
}

.time {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin-right: auto;
  background-color: black;
  border: solid 3px;
  border-color: rgb(117 117 117) rgb(179 179 179) rgb(179 179 179) rgb(117 117 117);
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 315px;
  background-color: rgb(190 190 190);
  border: solid 5px;
  border-color: rgb(117 117 117) rgb(179 179 179) rgb(179 179 179) rgb(117 117 117);
}

.stylestop {
  box-sizing: border-box;
  display: flex;
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: rgb(212 212 212);
  border: solid 10px;
  border-color: white rgb(75 75 75) rgb(75 75 75) white;
}

.flame {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.89px;
  height: 33.9px;
  border: solid 0.5px;
  border-color: rgb(75 75 75);
}

.sampleStyle {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
